<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Aviação</title>
</head>
<body style="background-color: burlywood;">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/fotos">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/sobre">Sobre</a>
        </li>
      </ul>

      <H1>História</H1>
      <a> Um avião ou aeroplano é uma aeronave de asa fixa que é impulsionada pelo empuxo de um motor a jato, hélice ou motor de foguete. Os aviões vêm em uma variedade de tamanhos, formatos e configurações de asas. O amplo espectro de usos dos aviões inclui recreação, transporte de mercadorias e pessoas, militar e experimental.<br>

        Em todo o mundo, a aviação comercial transporta mais de quatro bilhões de passageiros anualmente em companhias aéreas e transporta mais de 200 bilhões de toneladas-quilômetros de carga anualmente, o que representa menos de 1% do movimento de carga mundial. A maioria dos aviões é pilotada por um piloto a bordo da aeronave, mas alguns são projetados para serem controlados remotamente ou por computador, como os drones. <br>
        
        Os irmãos Wright inventaram e pilotaram o primeiro avião em 1903, reconhecido como "o primeiro voo sustentado e controlado com motor mais pesado que o ar". Eles se basearam nas obras de George Cayley datadas de 1799, quando ele estabeleceu o conceito do avião moderno (e mais tarde construiu e voou modelos e planadores de transporte de passageiros de sucesso) e no trabalho do pioneiro alemão da aviação humana Otto Lilienthal, que, entre 1867 e 1896, também estudou voos mais pesados ​que o ar. As tentativas de voo de Lilienthal em 1891 são vistas como o início do voo humano.<br>
        
        Após seu uso limitado na Primeira Guerra Mundial, a tecnologia aeronáutica continuou a se desenvolver. Os aviões estiveram presentes em todas as principais batalhas da Segunda Guerra Mundial. O primeiro avião a jato foi o alemão Heinkel He 178 em 1939. O primeiro avião a jato comercial, o de Havilland Comet, foi lançado em 1952. O Boeing 707, o primeiro jato comercial de grande sucesso, esteve em serviço comercial por mais de 50 anos, de 1958 a 2013.</a>

</body>
</html>