<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Videos</title>
</head>
<body style="background-color: burlywood;">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/fotos">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/sobre">Sobre</a>
        </li>
    </ul>

    <H3>
        60 MINUTES PURE AVIATION - AIRBUS A380, ILYUSHIN 62, BOEING 747 - Aviation Review of Year 2020 (4K)
    </H3>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/ko3VfTxqqak?si=_2KQk3Gn_7rdZVPp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen alt="
      60 MINUTES PURE AVIATION - AIRBUS A380, ILYUSHIN 62, BOEING 747 - Aviation Review of Year 2020 (4K)"></iframe>
</body>
</html>